<style>
    .each-lesson-grid {
      display: grid !important;
      grid-template-columns: 1fr 1fr !important;
    }
  
    .small-text {
      font-size: small !important;
      width: 40% !important;
      margin: 0 0 !important;
  
    }
  
    .each-lesson-a:hover {
      /* เพิ่ม .each-lesson-a:focus */
      border-left: 0.2em solid #8A2BE2 !important;
      /* background-color: #404258 !important; */
    }
  
    .each-lesson-a:hover .hide-button {
      display: block !important;
      cursor: pointer;
    }
  
    .addLessonLink{
      width: 60%;
      background-color: #8A2BE2 !important;
      border-radius: 2em !important;
      margin: 1em auto !important;
    }
  
    .addLessonLink:hover{
      width: 60%;
      background-color: white !important;
      border-radius: 2em !important;
      margin: 1em auto !important;
      color: #8A2BE2 !important;
      border: 1px solid #8A2BE2 !important;
      transition: 0.5s;
    }
  
    .addLessonLink:hover i{
      color: #8A2BE2 !important;
      border:none !important;
      transition: 0.5s;
      }
  
    .addLessonLink i {
      color: white !important;
  
    }
  
    .above-nav-status{
      border-right: 1px solid #EAEFF4;
      /* position: fixed; */
      height: auto!important;
      overflow-y: auto !important;
      scrollbar-width: thin !important;
      
    }
  
    .bold-menus{
      border-left: 0.25em solid #8A2BE2;
      padding-left: 0.75em !important;
      
  
    }
  
    .menues-sub,
    .a-list-1, .a-list-2, .a-list-3, .a-list-4,
    .a-list-5, .a-list-6, .a-list-7{
      text-decoration: none;
      color: #5A6A85;
      transition-duration: 0.3s;
    }
  
    .menues-sub:hover{
      color: #8A2BE2 !important;
      transition: 0.3s;
    }
    
    .a-list-1:hover, .a-list-2:hover, .a-list-3:hover, .a-list-4:hover,
    .a-list-5:hover, .a-list-6:hover, .a-list-7:hover {
      color: #8A2BE2 !important;
      transition: 0.3s;
  
    }
  
  </style>
  <div class="above-nav-status p-4" style="width: 20%;">
    <p class="fs-6 fw-bold bold-menus" style="margin-bottom: 1em !important;">
      ห้องเรียน
    </p>
    <div class="menues">
      <p class="menues-sub fs-6 my-2">
        <!-- <i class="bi bi-card-list mx-2"></i> -->
        <i class="bi-1 bi bi-book-half mx-2"></i>
        <a href="/studentLesson" class="a-list-1">บทเรียน</a>
      </p>
      <p class="menues-sub my-2">
        <i class="bi-2 bi bi-list-task mx-2"></i>
        <a href="/studentAssignment" class="a-list-2">งานที่มอบหมาย</a>
      </p>
      <p class="menues-sub my-2">
        <!-- <i class="bi bi-database-add mx-2"></i> -->
        <i class="bi-3 bi bi-pencil-square mx-2"></i>
        <a href="/studentExam" class="a-list-3">แบบทดสอบ</a>
      </p>
      <p class="menues-sub my-2">
        <!-- <i class="bi bi-database-add mx-2"></i> -->
        <i class="bi-3 bi-bell mx-2"></i>
        <a href="/studentNotificaiton" class="a-list-3">แจ้งเตือน</a>
      </p>
    </div>
  </div>